<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRD15ovGLqgES6iEw_Ey116o-QaGP55PI</string>
	<key>GCM_SENDER_ID</key>
	<string>288625814168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coding.JobJam</string>
	<key>PROJECT_ID</key>
	<string>jobjam-ac717</string>
	<key>STORAGE_BUCKET</key>
	<string>jobjam-ac717.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288625814168:ios:033c8826fc37ad5ca7beed</string>
</dict>
</plist>